---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import CoreProcess from '../components/CoreProcess.astro';
import FeaturesGrid from '../components/FeaturesGrid.astro';
import BYOA from '../components/BYOA.astro';
import GoalAlignment from '../components/GoalAlignment.astro';
import Heartbeats from '../components/Heartbeats.astro';
import CostTracking from '../components/CostTracking.astro';
import MultiCompany from '../components/MultiCompany.astro';
import TicketSystem from '../components/TicketSystem.astro';
import OpenSource from '../components/OpenSource.astro';
import Templates from '../components/Templates.astro';
import Governance from '../components/Governance.astro';
import Identity from '../components/Identity.astro';
import EdgeMesh from '../components/EdgeMesh.astro';
import HubFederation from '../components/HubFederation.astro';
import ProblemsSolved from '../components/ProblemsSolved.astro';
import UnderTheHood from '../components/UnderTheHood.astro';
import Differentiation from '../components/Differentiation.astro';
import FAQ from '../components/FAQ.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <CoreProcess />
    <FeaturesGrid />
    <BYOA />
    <GoalAlignment />
    <Heartbeats />
    <CostTracking />
    <MultiCompany />
    <TicketSystem />
    <EdgeMesh />
    <HubFederation />
    <OpenSource />
    <Templates />
    <Governance />
    <Identity />
    <ProblemsSolved />
    <UnderTheHood />
    <Differentiation />
    <FAQ />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
